.dashboard {
  display: flex;
  padding: 16px;
  height: 100%;
  gap: 8px;
}

.body {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.body .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  min-height: 262px;
}

.row1 .widget-1 {
  border-radius: 16px;
  background: var(--White, #fff);

  display: flex;
  min-width: 320px;
  min-height: 200px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

.row1 .widget-1 .heading {
  color: #131313;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

.row1 .widget-1 .number {
  color: var(--Black, #131313);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -2px;
}

.row1 .widget-1 .remark {
  color: var(--Dark-Gray, #454545);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}

.row1 .widget-1 .footer {
  color: var(--Dark-Orange, #734a00);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.row1 .widget-1 .number-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
