.logo {
  padding: 8px 16px;
}

.nav {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.sidebar {
  padding: 8px;
  background-color: white;
  border-radius: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar .item {
  display: flex;
  min-width: 264px;
  max-width: 320px;
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.sidebar .search {
  display: flex;
  padding: 12px 16px;
  margin: 0px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 20px;
  border: 1px solid #f1f1f1;
  background: #fff;
}

.sidebar .items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar .item p {
  color: #131313;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.25px;
}
/* 
.bottom {
  padding: 0px 20px;
} */

.sidebar .profile {
  display: flex;
  gap: 12px;
  padding: 12px 20px;
}

.sidebar .profile .name {
  color: #131313;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.25px;
}

.sidebar .profile div {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.sidebar .profile .chip {
  border-radius: 24px;
  background: var(--Mid-Orange, #ffcd71);
  display: flex;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.sidebar .profile .chip p {
  color: #131313;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 160% */
  letter-spacing: -0.5px;
}
